:root {
    --hover-color: #2196F3;
    --prime-links: #212121;
    --contact-grey: #757575;
}


* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

p {
    color: aquamarine;
}

body {
    font-family: 'Roboto';
}

.nav-links-toll li a,
.contact-links li a {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: normal;
    letter-spacing: 0.28px;
}

.contact-links li:last-child {
    width: 150px;
}

.nav-links-toll li a {
    color: var(--prime-links);
}

.nav-links-toll li a:hover,
.contact-links li a:hover {
    color: var(--hover-color);
}

.contact-links li a {
    color: var(--contact-grey);
}


.main-title {

    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.main-section {
    background: #2F303A;
    padding: 200px 0px;
}

.main-button {

    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;


    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

    color: #FFFFFF;

    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    margin: 30px auto 0px;
    padding: 10px 32px;

}


.h3text1 li h3 {

    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #212121;
    margin-bottom: 10px;
}

.h3text1 li p {

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */

    letter-spacing: 0.03em;

    color: #757575;
}

.second-title {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 1.08px;
    color: #212121;
    margin-bottom: 50px;
}


.cards-items li div h3 {

    color: #212121;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.48px;
}

.cards-items li div p {

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.03em;

    color: #757575;
}

.cards-items li {
    width: 270px;
}

.cards-items li:not(:last-child) {
    margin-right: 30px;
}

.cards-items li img {
    width: 100%;
}

.items-section {
    background: #F5F4FA;
    padding: 94px 215px;
}

.white-background {
    background: #FFFFFF;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    padding: 30px 0px;
}

.white-background h3 {
    margin-bottom: 10px;
}

footer {
    background: #2F303A;
    padding: 60px 215px;
}

footer address {
    color: #FFF;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 171.429% */
    letter-spacing: 0.42px;
}

footer p {
    color: rgba(255, 255, 255, 0.60);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 171.429% */
    letter-spacing: 0.42px;
    margin-top: 9px;
}

.test-div {
    color: rgb(0, 8, 255);
}

li ul li:last-child {
    list-style-type: disc;
    color: #ff6666;
}

.nav-links {
    padding: 32px 215px;
    display: flex;
}

.nav-links ul {
    display: flex;
}

.logo-link {
    margin-right: 93px;
}

.nav-links-toll {
    margin-right: 331px;
}

.nav-links ul li:not(:last-child) {
    margin-right: 50px;
}

.test {
    width: 500px;
    height: 300px;
    display: flex;
    background-color: aqua;
}

.heder {
    height: 80px;
}

.second-section {
    padding: 94px 215px;
}

.h3text1 {
    display: flex;
}

.h3text1 li:not(:last-child) {
    margin-right: 30px;
}

.works {
    padding: 0px 215px;
}

.works-list {
    display: flex;
}

.works-list li:not(:last-child) {
    margin-right: 30px;
    margin-bottom: 94px;

}

.cards-items {
    display: flex;
}

footer a {
    display: block;
    margin-bottom: 20px;
}

.portfolio-section {
    padding: 94px 215px;
}

.buttons-list {
    display: flex;
    justify-content: center;
}

.buttons-list li:not(:last-child) {
    margin-right: 8px;

}

.buttons-list li button {
    padding: 6px 22px;
    border-radius: 4px;
    background: #F5F4FA;
    border: 1px solid #F5F4FA;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.48px;
}

.buttons-list li button:hover {
    background-color: var(--hover-color);
    color: #FFF;
    cursor: pointer;
}

.works-title {
    color: #212121;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 1.08px;
}

.portfolio-works-text {
    color: #757575;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.48px;
}